
	
html {
	height:100%;
}
body {
	margin:0;
	padding:0;
	height:100%;
	width:100%;
	background: #FFFFFF;
	font-family: 'Roboto', sans-serif!important;
	color: #8F989F;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
}
.wrap {
	position:relative;
	z-index:500;
}
.content-section {
	padding-top:120px;
	padding-bottom:90px!important;
	background:#FFFFFF;
}
.form-control input
{
	color:#fff!important;
}
.slogan{
	text-align:center;
	font-size:22px;
	font-weight:700;
	color:#333;
	text-shadow:0.1px 0.1px 0.1px #ccc;
}
.wallets .panel {
	text-align:center;
}
.exchanges .panel {
	text-align:center;
}
.panels

/* #Typography
================================================== */

h1, h2 { color: #333333; font-family: 'Roboto', sans-serif; font-weight: normal; line-height:100%; margin-bottom:20px; margin-top:0!important; text-rendering: optimizelegibility; }
h3, h4, h5, h6 { color: #fff; font-family: 'Roboto', sans-serif; font-weight: normal; line-height:100%; margin-bottom:20px; margin-top:0!important; text-rendering: optimizelegibility; }
h1 { font-size:30px; }
h2 { font-size:26px; }
h3 { font-size:20px; }
h4 { font-size:16px; }
h5 { font-size:14px; }
h6 { font-size:12px; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
p { margin: 0 0 20px 0; }
p img { margin: 0; }
p.lead { font-size: 21px; line-height: 27px; color: #77777;  }
em { font-style: italic; }
strong { font-weight: bold; }
small { font-size: 80%; }

/*	Blockquotes  */

blockquote, blockquote p { font-size: 17px; line-height: 24px; font-style: italic; }
blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #DDDDDD; }
blockquote cite { display: block; font-size: 12px; color: #999999; }
blockquote cite:before { content: "\2014 \0020"; }
blockquote cite a { color: #999999; }

hr { border: solid #DDDDDD; border-width: 1px 0 0; clear: both; margin: 20px 0 40px; height: 0; }

/* #Links
================================================== */

a { 
	text-decoration: none; 
	outline: 0;
	color:#1F74AE;
	-webkit-transform: translateZ(0);
	-webkit-transition:0.2s color linear;
		-moz-transition:0.2s color linear;
			transition:0.2s color linear;
}
a:hover { color: #37a96a; }

/* #Lists
================================================== */

ul, ol { margin-bottom: 20px; }
ul { list-style: none outside; }
ol { list-style: decimal; }
ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
ul.square { list-style: square outside; }
ul.circle { list-style: circle outside; }
ul.disc { list-style: disc outside; }
ul ul, ul ol,
ol ol, ol ul { margin-left: 30px; }
ul ul li, ul ol li,
ol ol li, ol ul li { margin-bottom: 0 }

/* #Images
================================================== */

img {
	max-width: 100%;
	height: auto; 
}
@media \0screen {
  img { 
  	width: auto; /* for ie 8 */
  }
}

/* #Header Section
================================================== */

#header-section {
	line-height:80px;
}
.ha-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	width:100%;
	padding: 0;
	z-index: 1000;
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	background:rgb(255, 255, 255);
	background:rgba(255, 255, 255, 0.97);
	box-shadow:0 1px 10px rgba(31, 50, 63, 0.25);
}
.ha-header-perspective {
	width: 100%;
	height: 100%;
	position: relative;
	-webkit-perspective: 1100px;
	-moz-perspective: 1100px;
	perspective: 1100px;
	-webkit-perspective-origin: 50% 0;
	-moz-perspective-origin: 50% 0;
	perspective-origin: 50% 0;
}
.ha-header-perspective > div {
	position: relative;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	overflow: hidden;
}
.ha-header-front {
	z-index: 2;
	-webkit-transform-origin: 50% 100%;
	-moz-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
}
.logo {
	text-align:left;
	margin:0;
	line-height:70px;
	color:#1d1d1d;
	text-transform:uppercase;
}
.logo img {
	max-height:55px;
	vertical-align:middle;
}
.ha-header nav {
	height: 100%;
	text-align:right;
	font-family: 'Roboto', sans-serif;
}
.ha-header nav a {
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size:12.5px;
    cursor: pointer;
    color: #222222;
    outline: none;
    text-decoration: none;
	padding-left:30px;
	position:relative;
}
.ha-header nav a:after {
	content:'·';
	font-size:20px;
	position:absolute;
	top:0;
	color:#999999;
	font-weight:bold;
	left:10px;
}
.ha-header nav a:first-child:after {
    display: none;
}
.ha-header-small {
	height: 80px;
}
.ha-header-hide {
	height: 80px;
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	transform: translateY(-100%);
}
.ha-header-show {
	height: 80px;
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	transform: translateY(0%);
}
.section-header {
	text-align:center;
	padding-bottom:50px;
}
.section-title {
	font-size:40px;
	margin-bottom:20px;
	background-attachment: scroll;
	background-image: url('../images/divider1.png');
	background-repeat: repeat-x;
	background-position: center center;
	text-transform:uppercase;
}
.section-title span {
	background:#FFFFFF;
	padding:0 35px;
}
.section-slogan {
	font-size:20px;
	line-height:140%;
}
.js .section-title,
.js .section-slogan {
	opacity:0;
}

/* #Hero Section
================================================== */

.hero {
	height:100%;
	min-height:100%;
	position:relative;
	overflow:hidden;
	text-align:center;
	z-index:750;
}
.hero .hero-holder {
	display:inline-block;
	position:absolute;
	top:42%;
	left:50%;
	-webkit-transform:translate(-50%, -50%);
	-moz-transform:translate(-50%, -50%);
	transform:translate(-50%, -50%);
	width:100%;
	max-width:100%;
	/* background-color:rgba(0,0,0,0.4); */
	padding:25px;
}
.js .hero .hero-holder {
	opacity:0;
}
.hero-title-holder {
	display:inline-block;
	padding: 20px 30px 30px;
	background-attachment: scroll;
}
.hero-title {
	font-size:5em;
	margin-bottom:20px;
	text-transform:uppercase;
	text-align:center;
	display:inline-block;
	color:#FFFFFF;
	padding-top:20px;
}
.hero-description {
	color:#FFFFFF;
	font-size:15px;
	letter-spacing:1px;
	margin-bottom:10px;
	text-align:center;
	margin:0 auto;
	text-transform:uppercase;
	display:block;
	text-rendering: optimizelegibility;
	padding-bottom:3px;
}
.btn-holder {
	display:block;
}
.hero-btn {
	background:rgba(31, 116, 174, 0.6);
	color:#FFFFFF;
	border:2px solid rgba(255, 255, 255, 0.15);
	 padding: 6px 30px;
	 font-size: 15px;
	cursor:pointer;
	text-transform:uppercase;
	letter-spacing:2px;
	text-align:center;
	display:inline-block;
	text-rendering: optimizelegibility;
	-webkit-transition:0.2s background linear;
		-moz-transition:0.2s background linear;
			transition:0.2s background linear;
}
.hero-btn:hover {
	color:#fff;
	background:rgba(0, 0, 0, 0.5);
}

/* #About Section
================================================== */

.about-section {
	padding-bottom:90px;
}
.about-box {
	overflow:hidden;
	margin-bottom:20px;
}
.about-box h3{
	color:#333!important;

}
.js .about-box {
	opacity:0;
}
.about-icon {
	float:left;
	margin-right:20px;
	overflow:hidden;
	width:70px;
	background-color:#2176A5!important;
	height:70px;
	color:#fff;
	text-align:center;
	line-height:70px;
	margin-bottom:20px;
	-webkit-border-radius:50%;
		-moz-border-radius:50%;
			border-radius:50%;	
}
.about-icon img {
	max-width:30px;
}

/* #Service Section
================================================== */

.service-section .parallax-header {
	padding-bottom:70px !important;
}
.info { overflow:hidden; text-align:left; }
.service-section {
	padding-bottom:130px;
}
#service-section h3{ 
color:#fff!important;
}
.service-section .service-icon {
	display:block;
	text-align:center;
	font-size:100px;
	line-height:150px;
	background:rgba(255, 255, 255, 0.15);
	color:#FFFFFF;
	z-index:3;
	position:relative;
}
.icon-box { 
	position:relative;
	margin-bottom:40px;
	width:75px;
	height:75px;
	float:left;
	margin-right:20px;
}


.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid rgba(255, 255, 255, 0.15);
	position:absolute;
	right:-10px;
	top:50%;
	margin-top:-10px;
}
.js .box-fade {
	opacity:0;
}

/* #Team Section
================================================== */

.team-section {
	padding-bottom:90px;
}
.member-box {
	overflow:hidden;
	margin-bottom:20px;
}
.js .member-box {
	opacity:0;
}
.member-box h3 {
	margin-bottom:0;
	color:#222!important;;
	margin-top:15px;
	font-size:15px;
}
.member-box span {
	color:#555!important;
	margin-bottom:20px;
	display:block;
	font-size:10px;
	letter-spacing:1px;
	line-height:120%;
	text-transform:uppercase;
	margin-top:5px;
}
.member-photo {
	float:left;
	margin-right:20px;
	margin-bottom:20px;
	width:60px;
	height:60px;
	box-sizing:border-box;
	-webkit-border-radius:50%;
		-moz-border-radius:50%;
			border-radius:50%;	
}
.member-photo img {
	-webkit-border-radius:50%;
		-moz-border-radius:50%;
			border-radius:50%;	
}
.member-photo.alternative {
	width:100%;
	height:auto;
	
	margin:0 auto;
	float:none;
	display:block;
}
.member-photo.alternative img {
	
	margin:0 auto;
	float:none;
	display:block;
}

/* Team Single Page */

.team-bio .member-box {
	text-align:center;

}
.team-bio .member-box h3 {
	margin-top:0;
}
.team-bio .member-photo {
	float:none;
	width:100%;
	height:auto;
	border:none;
	margin-right:0;	
}
.member-photo i {
	color:#1F74AE;
}
.bio-desc h3 {
	color:#222222;
}

/* #CTA
================================================== */

.cta-section {
	position:relative;
	text-align:center;
	padding:40px 0!important;
	color:#FFFFFF;
	background-color:#1E77A8!important;	
	
}
.cta-btn {
	font-family: 'Roboto', sans-serif;
}
.cta-btn a {
	position: relative;
	display: inline-block;
	margin: 15px 25px;
	outline: none;
	color: #FFFFFF;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1.4em;
}
.cta-btn a:hover,
.cta-btn a:focus {
	outline: none;
	color:#FFFFFF;
}
/* Effect 18: cross */
.cl-effect-18 {
	position: relative;
	z-index: 1;
}
.cl-effect-18 a {
	padding: 0 5px;
	color: #FFFFFF;
	font-weight: 700;
	-webkit-transition: color 0.3s;
		-moz-transition: color 0.3s;
			transition: color 0.3s;
}
.cl-effect-18 a::before,
.cl-effect-18 a::after {
	position: absolute;
	width: 100%;
	left: 0;
	top: 50%;
	height: 2px;
	margin-top: -1px;
	background: #FFFFFF;
	content: '';
	z-index: -1;
	pointer-events: none;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
		-moz-transition: -moz-transform 0.3s, opacity 0.3s;
			transition: transform 0.3s, opacity 0.3s;
}
.cl-effect-18 a::before {
	-webkit-transform: translateY(-20px);
	-moz-transform: translateY(-20px);
	transform: translateY(-20px);
}
.cl-effect-18 a::after {
	-webkit-transform: translateY(20px);
	-moz-transform: translateY(20px);
	transform: translateY(20px);
}
.cl-effect-18 a:hover,
.cl-effect-18 a:focus {
	color: #FFFFFF;
}
.cl-effect-18 a:hover::before,
.cl-effect-18 a:hover::after,
.cl-effect-18 a:focus::before,
.cl-effect-18 a:focus::after {
	opacity: 0.7;
}
.cl-effect-18 a:hover::before,
.cl-effect-18 a:focus::before {
	-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
			transform: rotate(45deg);
}
.cl-effect-18 a:hover::after,
.cl-effect-18 a:focus::after {
	-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
			transform: rotate(-45deg);
}

/* #Portfolio Section
================================================== */

.portfolio-section {
}
.portfolio-box {
	position:relative;
	overflow:hidden;
	margin-bottom:20px;
}
.js .portfolio-box {
	opacity:0;
}
.portfolio-box:hover .portfolio-caption {
	opacity:1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
    filter: alpha(opacity=95);
}
.portfolio-image {
	margin:0;
}
.portfolio-image img {
	display: block;
    width: 100%;
	box-shadow:0 0 0 0 #000000;
}
.portfolio-caption:before, 
.portfolio-title {
    display: inline-block;
    vertical-align: middle;
}
.portfolio-caption:before {
    content: "";
    height: 100%;
}
.portfolio-caption {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display:block;
	opacity:0;
	text-align:center;
	overflow:hidden;
	-webkit-backface-visibility:hidden;
	-webkit-transform: translateZ(0);
	-webkit-transition:0.2s all linear;
		-moz-transition:0.2s all linear;
			transition:0.2s all linear;
			backface-visibility:hidden;
}
.portfolio-title {
	color:#FFFFFF;
	margin:0;
	font-size:15px;
	text-transform:uppercase;
	padding:0 10px;
}
.portfolio-category {
	display:block;
	font-size:10px;
	text-transform:uppercase;
	letter-spacing:1px;
	margin-top:5px;
}

/* #Testimonial Section
================================================== */

.ut-testimonials {
	position:relative;
	overflow:hidden;
}
.js .ut-testimonials {
	opacity:0;
}
.ut-quote-name {
	margin:5px 0 0 0;
	font-size:10px;
	text-transform:uppercase;
	letter-spacing:1px;
}
.ut-quote-comment {
	font-size:16px;
	display:block;
}
.ut-rotate-avatar .slides > li,
.ut-rotate-quote .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
} 
.ut-rotate-avatar,
.ut-rotate-quote {
    position: relative;
    zoom: 1;
}
.ut-rotate-avatar .slides,
.ut-rotate-quote .slides {
    zoom: 1;
}
.ut-rotate-quote .flex-viewport {
    max-height: 2000px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.ut-rotate-quote {
	position:relative;
	text-align:center;
}
.ut-rotate-avatar {
	height: 200px;
	margin: 0 auto 40px auto;
	overflow: hidden;
	width: 200px;
}
.ut-rotate-avatar .slides {
	list-style:none;
	margin: 0px !important;
}
.ut-rotate-avatar img {
	border-radius: 50% 50% 50% 50%;
	display: block;
	width: 100%;
}
.ut-rotate-avatar ul.slides,
.ut-rotate-quote ul.slides {
	list-style:none;
}
.ut-rotate-quote .slides {
	list-style:none;
	margin:0px !important;
}
.ut-rotate-quote .flex-direction-nav {*height: 0; list-style:none;}
.ut-rotate-quote .flex-direction-nav a  { display: block; text-indent:-9999px; width: 40px; height: 40px; margin: -110px 0 0; position: absolute; top: -50%; z-index: 10; overflow: hidden; opacity: 0; cursor: pointer; color: rgba(255,255,255,0.9); -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; }
.ut-rotate-quote .flex-direction-nav .flex-prev { left: -50px; background-image:url(../images/arrow-left-black.png); background-repeat:no-repeat; }
.ut-rotate-quote .flex-direction-nav .flex-next { right: -50px; background-image:url(../images/arrow-right-black.png); background-repeat:no-repeat;  }
.ut-testimonials:hover .ut-rotate-quote .flex-prev { opacity: 0.7; left: 10px; }
.ut-testimonials:hover .ut-rotate-quote .flex-next { opacity: 0.7; right: 10px; }
.ut-testimonials:hover .ut-rotate-quote .flex-next:hover, 
.ut-testimonials:hover .ut-rotate-quote .flex-prev:hover { opacity: 1; }
.ut-rotate-quote .flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }

/* #Contact Section
================================================== */

.contact-section {
	position:relative;
	padding-bottom:150px;
}
.contact-section .parallax-header {
	padding-bottom:70px !important;
}
.contact-section .section-title span {
	background:#F1F4F5;
}
.contact-wrap {
	color:#FFFFFF;
}
.js .contact-wrap {
	opacity:0;
}
.contact-message {
	padding:20px 20px 10px;
	font-size:12px;
	letter-spacing:1px;
	color:#fff!important;
	text-shadow:0.5px 0.5px 0.5px #000;
	background:none repeat scroll 0 0 rgba(30, 115, 173, 0.8);
}
.contact-message h3{
	color:#fff!important;
	padding-left:0px;
} 
.contact-message ul li {
	margin-bottom:10px;
}
.contact-form-holder {
	padding:20px;
	background:rgba(255, 255, 255, 0.15);
	color:#fff!important;
	text-shadow:0.5px 0.5px 0.5px #000;
	background:none repeat scroll 0 0 rgba(30, 115, 173, 0.8);
}
.contact-form-holder h3 {
	color:#fff!important;
	text-shadow:0.5px 0.5px 0.5px #000;
}	

.send-btn{
	background-color:#fff!important;
	color:#000!important;
}
.send-btn:hover
{
	
}

/* #Social Newtwork Section
================================================== */

.social-section .parallax-header {
	padding-bottom:70px !important;
}
.social-section {
	padding-bottom:110px;
}
.social-network {
	list-style:none;
	margin:0;
	text-align:center;
}
.social-network li {
	text-align:center;
}
.social-link {
	margin-bottom:40px;
	display:block;
}
.js .social-link {
	opacity:0;
}
.social-link,
.social-link:visited,
.social-link:hover,
.social-link:active {
	color:#FFFFFF;
}
.social-icon {
	display:block;
	width:100px;
	height:100px;
	line-height:100px;
	text-align:center;
	margin:0 auto 20px auto;
	background:rgba(31, 116, 174, 0.22);
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	-webkit-transform: translateZ(0);
	-webkit-transition:0.2s background linear;
		-moz-transition:0.2s background linear;
			transition:0.2s background linear;
}
.social-icon i {	
	line-height:100px;
}
.social-title,
.social-info {
	display:block;
}
.social-title {
	margin-bottom:0;
	text-transform:uppercase;
	letter-spacing:1px;
	font-size:10px;
}
.social-info {
	font-size:15px;	
}

/* #Parallax
================================================== */

.parallax-section {
	position:relative;
	overflow:hidden;
	width:100%;
}
.parallax-header {
	position:relative;
	text-align:center;
}
.parallax-title {
	font-size:40px;
	margin-bottom:20px;
	color:#FFFFFF;
	background-attachment: scroll;
	background-repeat: repeat-x;
	background-position: top center;
	padding-top:20px;
	display:inline-block;
	text-transform:uppercase;
	position:relative;
	z-index:10;
}
.parallax-title span {
}
.parallax-slogan {
	font-size:20px;
	line-height:140%;
	margin:0;
	z-index:10;
	position:relative;
}
.js .parallax-title,
.js .parallax-slogan {
	opacity:0;
}
.parallax-content {
	color:#FFFFFF;
	position:relative;
}
.parallax-content .parallax-header {
	padding:150px 0;
}
.parallax-background {
	background-position:center center;
	-webkit-background-size: cover !important; 
    -moz-background-size: cover !important;  
    -o-background-size: cover !important; 
    background-size: cover !important;
	background-repeat:repeat-y;
}
.parallax-background.fixed {
	background-attachment: fixed !important;
}

.parallax-banner-1 { background:url('../images/bg-new.jpeg'); }
.parallax-banner-2 { background:url('../images/bg-lights.jpg'); background-position: center center; }
.parallax-banner-3 { background:url('../images/bg-hero.jpg'); }
.parallax-banner-4 { background:url('../images/bg-modern.jpg'); background-position:center bottom !important; }
.parallax-banner-5 { background:url('../images/bg-city.jpg'); }
.parallax-banner-6 { background:url('../images/bg-city.jpg'); }
.parallax-banner-7 { background:url('../images/404.jpg'); }


.parallax-overlay-1 { background-image: url('../images/overlay-pattern.png'); }
.parallax-overlay-2 { background-image: url('../images/overlay-pattern.png'); }
.parallax-overlay-3 { background-image: url('../images/overlay-pattern.png'); }
.parallax-overlay-4 { background-image: url('../images/overlay-pattern.png'); }
.parallax-overlay-5 { background-image: url('../images/overlay-pattern.png'); }
.parallax-overlay-6 { background-image: url('../images/overlay-pattern.png'); }
.parallax-overlay-7 { background-image: url('../images/overlay-pattern.png'); }

.parallax-overlay {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-repeat:repeat;
	background-attachment: scroll;
	
}

/* #Counter Section
================================================== */

.counter-section {
	padding-bottom:110px;
}
.counter-section .parallax-header {
	padding-bottom:70px;
}
.counter-box {
	text-align:center;
	background:rgba(255, 255, 255, 0.15);
	padding:20px;
	margin-bottom:40px;
}
.counter-details {
	color:#FFFFFF;
	margin:0;
}
.count {
	font-family: 'Roboto', sans-serif;
	font-size: 60px;
	line-height: 1.2;
	padding: 0;
	margin-bottom: 20px;
	display:block;
	text-transform: uppercase;
}
js .counter-box {
	opacity:0;
}

/* #Client Section
================================================== */

#client-section {
	padding:33px 0!important;
	background-color:#fff!important;	
}
.client-logo img {
	margin:0 auto;
	display:block;
}
.js .client-logo {
	opacity:0;
}

/* #Footer
================================================== */

.footer{
	padding: 30px 0;
	text-align:center;
	background:#FFFFFF;
	position:relative;	
}
.toTop {
	display: block;
	width: 40px;
	height: 40px;
	background: #FFFFFF;
	font-size: 28px;
	line-height: 38px;
	position: absolute;
	top: -40px;
	left: 0;
	right: 0;
	margin: auto;
	-webkit-border-radius:3px 3px 0 0;
	-moz-border-radius:3px 3px 0 0;
	border-radius:3px 3px 0 0;
	-webkit-box-shadow:0px -5px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:0px -5px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.2);
	-webkit-transform: translateZ(0);
	-webkit-transition:0.2s all linear;
		-moz-transition:0.2s all linear;
			transition:0.2s all linear;
}
.toTop:hover {
	-webkit-box-shadow:0px -5px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:0px -5px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.1);
}
.footer h3 {
	text-transform:none;
	margin:0;
	position:relative;
	color:#333;
}
.copyright { 
	padding:0; 
	margin:0;
	letter-spacing:1px; 
	font-size:10px; 
	color:#999999; 
}
.copyright a {
	color:#333333;
	text-transform:uppercase;
}

/* #Buttons
================================================== */

button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  	border: none;
	display: inline-block;
	text-align:center;
	text-decoration: none;
	cursor: pointer;
	line-height: normal;
	color: #333;
	padding:15px;
	font-size:12px;
	cursor:pointer;
	text-transform:uppercase;
	letter-spacing:2px;
	text-align:center;
	-webkit-transition:0.2s background linear;
		-moz-transition:0.2s background linear;
			transition:0.2s background linear;
	-webkit-border-radius: 3px;
	  -moz-border-radius: 3px;
		  border-radius: 3px;
	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
			box-sizing: border-box;
	-webkit-background-clip: padding;
		-moz-background-clip: padding;
			background-clip: padding-box;
	-webkit-appearance: none;
}
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
	color: #FFFFFF;
	background: #111111;
}
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
	color: #FFFFFF;
	background: #111111;
}

/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner,
input::-moz-focus-inner {
border: 0;
padding: 0;
}

/* #Forms
================================================== */

form { margin:0; }
input[type="text"],
input[type="password"],
input[type="email"],
textarea {
	font-family: 'Roboto', sans-serif;
	font-size:12px;
	letter-spacing:1px;
	border: 1px solid transparent;
	padding: 10px;
	outline: none;
	color: #FFFFFF;
	margin: 0;
	width:100%;
	max-width:100%;
	display: block;
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
	*vertical-align: middle; /* Improves appearance and consistency in all browsers */
	margin-bottom: 20px;
	-webkit-transition:0.2s background linear;
		-moz-transition:0.2s background linear;
			transition:0.2s background linear;
	-webkit-transform: translateZ(0);
	-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
			box-sizing: border-box;
	-webkit-background-clip: padding;
		-moz-background-clip: padding;
			background-clip: padding-box;
	background:rgb(0, 0, 0);
	background:rgba(0, 0, 0, 0.50);
	-webkit-border-radius:0;
		-moz-border-radius:0;
			border-radius: 0;
			-webkit-appearance: none;	
}
textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	vertical-align: top; /* Improves readability and alignment in all browsers */
	resize: vertical;
	min-height:151px;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
	border: 1px solid transparent;
	color: #FFFFFF;
	background:rgb(0, 0, 0);
	background:rgba(0, 0, 0, 0.85);
}
.success-message,
.alert-message,
.error-message {
	display:none;
	font-size:12px;
	letter-spacing:1px;
}

/* #Misc
================================================== */

.no-js .section-title,
.no-js .section-slogan,
.no-js .hero .hero-holder,
.no-js .about-box,
.no-js .box-fade,
.no-js .member-box,
.no-js .portfolio-box,
.no-js .ut-testimonials,
.no-js .contact-wrap,
.no-js .social-link,
.no-js .parallax-title,
.no-js .parallax-slogan,
.no-js .client-logo {
	opacity:1;
}
.slider,
.slides,
.flex-viewport,
.main-slider {
	position:relative;
	height:100%;
	width:100%;
}
.slides li {
	height:100%;
	width:100%;
	display:block;
	-webkit-background-size: cover !important ;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
	height:100% !important;
	position:relative;
	width:100% !important;
	background-position:center center !important;
}
.main-slider .flex-direction-nav {
	display:none;
}
.slider .parallax-overlay,
.slider .hero-holder {
	z-index:500;
}
.remove-bottom { margin-bottom: 0 !important; }
.half-bottom { margin-bottom: 10px !important; }
.add-bottom { margin-bottom: 20px !important; }

#other-exchanges a {
	color:#FFF;
}
	

/* #Media Queries
================================================== */

/* Phone & Small Tablets */
@media screen and (max-width: 767px) {

#header-section {
	display:none;
}
.hero-title {
	font-size:45px;
	margin-top:0;
}
.hero-title-holder {
	background-image: none !important;
}	
.hero-title-holder img {
	max-width:65%;
}

.hero-description {
	display:none;
}
.section-title {
	background-image: none !important;
	font-size:25px;
}
.parallax-title {
	font-size:25px;
}
.parallax-slogan,
.section-slogan {
	font-size:15px;
}
.section-title span {
	background:transparent;
	padding:0;
}	
.member-photo {
	float:none;
	margin:0 auto;
}
.member-box {
	text-align: center;
}
.social-info {
	display:none;
}
.parallax-background {
	background-position:center center !important;
}
.icon-box { 
	float:none;
	margin-right:0;
}
.arrow-right {
	display:none;
}
.info {
	text-align:center;
	margin-top:20px;
}
.about-box {
	margin-bottom:10px;
}
.section-header {
	padding-bottom:30px;
}
.content-section {
	padding-top:50px;
	padding-bottom:30px;
}
.parallax-content .parallax-header {
	padding-top:50px;
	padding-bottom:50px !important;
}
.counter-section,
.service-section {
	padding-bottom:30px;
}
.testimonial-section,
.contact-section,
.cta-section {
	padding-bottom:50px;
}
.counter-box {
	margin-bottom:20px;
}
.social-section {
	padding-bottom:10px;
}
.about-section,
.team-section {
	padding-bottom:0;
}
.portfolio-category,
.portfolio-title {
	font-size:10px;
	letter-spacing:1px;
}
.member-box {
	margin-bottom:10px;
}
.js .section-title,
.js .section-slogan,
.js .hero .hero-holder,
.js .about-box,
.js .box-fade,
.js .member-box,
.js .portfolio-box,
.js .ut-testimonials,
.js .contact-wrap,
.js .social-link,
.js .parallax-title,
.js .parallax-slogan,
.js .client-logo {
	opacity:1;
}

}

/* Tablet Landscape */
@media screen and (min-width: 768px) and (max-width: 1024px) {

.section-title {
	background-image: none !important;
}
.section-title span {
	background:transparent;
	padding:0;
}		
.parallax-background {
	background-position:center center !important;
}
.js .section-title,
.js .section-slogan,
.js .hero .hero-holder,
.js .about-box,
.js .box-fade,
.js .member-box,
.js .portfolio-box,
.js .ut-testimonials,
.js .contact-wrap,
.js .social-link,
.js .parallax-title,
.js .parallax-slogan,
.js .client-logo {
	opacity:1;
}

}

/* #Grid
================================================== */
@media screen and (max-width: 400px) {
  @-ms-viewport {
    width: 320px;
}
}
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.grid-container:before, .clearfix:before,
.grid-container:after,
.clearfix:after {
  content: ".";
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

.grid-container:after, .clearfix:after {
  clear: both;
}

.grid-container, .clearfix {
  /* <IE7> */
  *zoom: 1;
  /* </IE7> */
}

.grid-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: 10px;
  padding-right: 10px;
}

.grid-5, .mobile-grid-5, .grid-10, .mobile-grid-10, .grid-15, .mobile-grid-15, .grid-20, .mobile-grid-20, .grid-25, .mobile-grid-25, .grid-30, .mobile-grid-30, .grid-35, .mobile-grid-35, .grid-40, .mobile-grid-40, .grid-45, .mobile-grid-45, .grid-50, .mobile-grid-50, .grid-55, .mobile-grid-55, .grid-60, .mobile-grid-60, .grid-65, .mobile-grid-65, .grid-70, .mobile-grid-70, .grid-75, .mobile-grid-75, .grid-80, .mobile-grid-80, .grid-85, .mobile-grid-85, .grid-90, .mobile-grid-90, .grid-95, .mobile-grid-95, .grid-100, .mobile-grid-100, .grid-33, .mobile-grid-33, .grid-66, .mobile-grid-66 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  /* <IE7> */
  *padding-left: 0;
  *padding-right: 0;
  /* </IE7> */
}
.grid-5 > *, .mobile-grid-5 > *, .grid-10 > *, .mobile-grid-10 > *, .grid-15 > *, .mobile-grid-15 > *, .grid-20 > *, .mobile-grid-20 > *, .grid-25 > *, .mobile-grid-25 > *, .grid-30 > *, .mobile-grid-30 > *, .grid-35 > *, .mobile-grid-35 > *, .grid-40 > *, .mobile-grid-40 > *, .grid-45 > *, .mobile-grid-45 > *, .grid-50 > *, .mobile-grid-50 > *, .grid-55 > *, .mobile-grid-55 > *, .grid-60 > *, .mobile-grid-60 > *, .grid-65 > *, .mobile-grid-65 > *, .grid-70 > *, .mobile-grid-70 > *, .grid-75 > *, .mobile-grid-75 > *, .grid-80 > *, .mobile-grid-80 > *, .grid-85 > *, .mobile-grid-85 > *, .grid-90 > *, .mobile-grid-90 > *, .grid-95 > *, .mobile-grid-95 > *, .grid-100 > *, .mobile-grid-100 > *, .grid-33 > *, .mobile-grid-33 > *, .grid-66 > *, .mobile-grid-66 > * {
  /* <IE7> */
  *margin-left: expression((!this.className.match(/grid-[1-9]/) && this.currentStyle.display === "block" && this.currentStyle.width === "auto") && "10px");
  *margin-right: expression((!this.className.match(/grid-[1-9]/) && this.currentStyle.display === "block" && this.currentStyle.width === "auto") && "10px");
  /* </IE7> */
}

.grid-parent {
  padding-left: 0;
  padding-right: 0;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.form-control::-moz-placeholder {
  color: #777777;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #777777;
}
.form-control::-webkit-input-placeholder {
  color: #777777;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eeeeee;
  opacity: 1;
}
textarea.form-control {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: none;
}
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  line-height: 34px;
  line-height: 1.42857143 \0;
}
input[type="date"].input-sm,
input[type="time"].input-sm,
input[type="datetime-local"].input-sm,
input[type="month"].input-sm {
  line-height: 30px;
}
input[type="date"].input-lg,
input[type="time"].input-lg,
input[type="datetime-local"].input-lg,
input[type="month"].input-lg {
  line-height: 46px;
}
.form-group {
  margin-bottom: 15px;
}
.radio,
.checkbox {
  position: relative;
  display: block;
  min-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.radio label,
.checkbox label {
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-left: -20px;
  margin-top: 4px \9;
}
.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px;
}
.radio-inline,
.checkbox-inline {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"].disabled,
input[type="checkbox"].disabled,
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"] {
  cursor: not-allowed;
}
.radio-inline.disabled,
.checkbox-inline.disabled,
fieldset[disabled] .radio-inline,
fieldset[disabled] .checkbox-inline {
  cursor: not-allowed;
}
.radio.disabled label,
.checkbox.disabled label,
fieldset[disabled] .radio label,
fieldset[disabled] .checkbox label {
  cursor: not-allowed;
}
.form-control-static {
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 0;
}
.form-control-static.input-lg,
.form-control-static.input-sm {
  padding-left: 0;
  padding-right: 0;
}
.input-sm,
.form-horizontal .form-group-sm .form-control {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
select.input-sm {
  height: 30px;
  line-height: 30px;
}
textarea.input-sm,
select[multiple].input-sm {
  height: auto;
}
.input-lg,
.form-horizontal .form-group-lg .form-control {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
select.input-lg {
  height: 46px;
  line-height: 46px;
}
textarea.input-lg,
select[multiple].input-lg {
  height: auto;
}
.has-feedback {
  position: relative;
}
.has-feedback .form-control {
  padding-right: 42.5px;
}
.form-control-feedback {
  position: absolute;
  top: 25px;
  right: 0;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
}
.input-lg + .form-control-feedback {
  width: 46px;
  height: 46px;
  line-height: 46px;
}
.input-sm + .form-control-feedback {
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline {
  color: #3c763d;
}
.has-success .form-control {
  border-color: #3c763d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-success .form-control:focus {
  border-color: #2b542c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
}
.has-success .input-group-addon {
  color: #3c763d;
  border-color: #3c763d;
  background-color: #dff0d8;
}
.has-success .form-control-feedback {
  color: #3c763d;
}
.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline {
  color: #8a6d3b;
}
.has-warning .form-control {
  border-color: #8a6d3b;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-warning .form-control:focus {
  border-color: #66512c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
}
.has-warning .input-group-addon {
  color: #8a6d3b;
  border-color: #8a6d3b;
  background-color: #fcf8e3;
}
.has-warning .form-control-feedback {
  color: #8a6d3b;
}
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline {
  color: #a94442;
}
.has-error .form-control {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-error .form-control:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}
.has-error .input-group-addon {
  color: #a94442;
  border-color: #a94442;
  background-color: #f2dede;
}
.has-error .form-control-feedback {
  color: #a94442;
}
.has-feedback label.sr-only ~ .form-control-feedback {
  top: 0;
}
.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}
@media (min-width: 768px) {
  .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  .form-inline .input-group {
    display: inline-table;
    vertical-align: middle;
  }
  .form-inline .input-group .input-group-addon,
  .form-inline .input-group .input-group-btn,
  .form-inline .input-group .form-control {
    width: auto;
  }
  .form-inline .input-group > .form-control {
    width: 100%;
  }
  .form-inline .control-label {
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .radio,
  .form-inline .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .radio label,
  .form-inline .checkbox label {
    padding-left: 0;
  }
  .form-inline .radio input[type="radio"],
  .form-inline .checkbox input[type="checkbox"] {
    position: relative;
    margin-left: 0;
  }
  .form-inline .has-feedback .form-control-feedback {
    top: 0;
  }
}
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 7px;
}
.form-horizontal .radio,
.form-horizontal .checkbox {
  min-height: 27px;
}
.form-horizontal .form-group {
  margin-left: -15px;
  margin-right: -15px;
}
@media (min-width: 768px) {
  .form-horizontal .control-label {
    text-align: right;
    margin-bottom: 0;
    padding-top: 7px;
  }
}
.form-horizontal .has-feedback .form-control-feedback {
  top: 0;
  right: 15px;
}
@media (min-width: 768px) {
  .form-horizontal .form-group-lg .control-label {
    padding-top: 14.3px;
  }
}
@media (min-width: 768px) {
  .form-horizontal .form-group-sm .control-label {
    padding-top: 6px;
  }
}
.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}
.input-group[class*="col-"] {
  float: none;
  padding-left: 0;
  padding-right: 0;
}
.input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
}
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
select.input-group-lg > .form-control,
select.input-group-lg > .input-group-addon,
select.input-group-lg > .input-group-btn > .btn {
  height: 46px;
  line-height: 46px;
}
textarea.input-group-lg > .form-control,
textarea.input-group-lg > .input-group-addon,
textarea.input-group-lg > .input-group-btn > .btn,
select[multiple].input-group-lg > .form-control,
select[multiple].input-group-lg > .input-group-addon,
select[multiple].input-group-lg > .input-group-btn > .btn {
  height: auto;
}
.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
select.input-group-sm > .form-control,
select.input-group-sm > .input-group-addon,
select.input-group-sm > .input-group-btn > .btn {
  height: 30px;
  line-height: 30px;
}
textarea.input-group-sm > .form-control,
textarea.input-group-sm > .input-group-addon,
textarea.input-group-sm > .input-group-btn > .btn,
select[multiple].input-group-sm > .form-control,
select[multiple].input-group-sm > .input-group-addon,
select[multiple].input-group-sm > .input-group-btn > .btn {
  height: auto;
}
.input-group-addon,
.input-group-btn,
.input-group .form-control {
  display: table-cell;
}
.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child),
.input-group .form-control:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.input-group-addon,
.input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}
.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: #555555;
  text-align: center;
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
.input-group-addon.input-sm {
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 3px;
}
.input-group-addon.input-lg {
  padding: 10px 16px;
  font-size: 18px;
  border-radius: 6px;
}
.input-group-addon input[type="radio"],
.input-group-addon input[type="checkbox"] {
  margin-top: 0;
}
.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group > .btn,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.input-group-addon:first-child {
  border-right: 0;
}
.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.input-group-addon:last-child {
  border-left: 0;
}
.input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
}
.input-group-btn > .btn {
  position: relative;
}
.input-group-btn > .btn + .btn {
  margin-left: -1px;
}
.input-group-btn > .btn:hover,
.input-group-btn > .btn:focus,
.input-group-btn > .btn:active {
  z-index: 2;
}
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group {
  margin-right: -1px;
}
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group {
  margin-left: -1px;
}
.clearfix:before,
.clearfix:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after {
  content: " ";
  display: table;
}
.clearfix:after,
.form-horizontal .form-group:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.affix {
  position: fixed;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.panel {
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align:center;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-body {
  padding: 15px;
}
.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.panel-heading > .dropdown .dropdown-toggle {
  color: inherit;
}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: inherit;
}
.panel-title > a {
  color: inherit;
}
.panel-footer {
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-top: 1px solid #dddddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel-default {
  border-color: #dddddd;
}
.panel-default > .panel-heading {
  color: #333333;
  background-color: #f5f5f5;
  border-color: #dddddd;
}

.top-35 {
	margin-top: 35px;
}

.top-90 {
	margin-top: 90px;
}

.ptop-30 {
	padding-top: 30px;
}
